<div class="registrationContent">
    <form (submit)="registration()">
        <br>
        <label>Firstname: </label>
        <input type="text" [(ngModel)]="customer.firstname" name="firstName" min="3" pattern="\w{2,16}" required/>

        <label>Lastname: </label>
        <input type="text" [(ngModel)]="customer.lastname" name="secondName" min="3" pattern="\w{2,16}" required/>
        <br>

        <label>Email: </label>
        <input type="email" [(ngModel)]="customer.email" pattern="[\w-]+@[\w-]+\..*" name="email" required/>
        <br>


        <label>Phone number: </label>
        <input type="tel" [(ngModel)]="customer.phone_number" name="phone" pattern="[0-9]{*}" placeholder="0660/123456" required/>
        <br>
        <label>Choose password: </label>
        <input type="password" [(ngModel)]="customer.customer_password" name="password" pattern=".{8,}" required/>
        <!--    <div style="display: flex; margin-bottom: 30px">-->
        <!--      <label for="isAdmin">is Admin?</label>-->
        <!--      <input [ngModel]="customer.isadmin" [checked]="customer.isadmin" (change)="customer.isadmin = !customer.isadmin" style="margin-left: 30px" type="checkbox" id="isAdmin" name="is Admin">-->
        <!--      <br>-->
        <!--    </div>-->

        <input class="registerButton" type="submit" value="Register">
    </form>
</div>
