<!--<button (click)="moreInfo()">more Info</button>-->

<div class="show-container" *ngIf="movie$ | async as movie">
  <div class="showTitle">
    <h1> {{movie.movie_name | uppercase }}</h1>
    <!--    <div class="showDate">-->
    <!--      <strong>{{ cardDate | date :'dd MMMM yyyy HH:mm'}}</strong>-->
    <!--    </div>-->
    <!--  </div>-->

    <div class="staff">
      <strong> Regisseur: {{ movie.movie_director }}</strong>
      <br>
      <strong>Actors: {{ movie.movie_actors }}</strong>
    </div>

    <div class="show">
      <div class="showImage">
        <img [src]="movie.movie_titleImg" width="250px" alt="Title image">
        <br>
        <!--    <button [disabled]="disabled">Enable</button>-->
      </div>

      <div
        class="showText"><p>{{movie.movie_desc}}</p>
      </div>
    </div>
  </div>
</div>
