<!--<<<<<<< HEAD-->
<!--<p>customer-dashboard works!</p>-->


<!--<div>-->
<!--  <input type="radio" name="setType" value="normalSeatSelector" checked #normalSeatSelector id="normalSeatSelector">-->
<!--  <label for="normalSeatSelector">Normal Seat</label><br>-->
<!--  <input type="radio" name="setType" value="deluxeSeatSelector" #deluxeSeatSelector id="deluxeSeatSelector">-->
<!--  <label for="deluxeSeatSelector">Deluxe Seat</label><br>-->
<!--  <input type="radio" name="setType" value="disabledSeatSelector" #disabledSeatSelector id="disabledSeatSelector">-->
<!--  <label for="disabledSeatSelector">Disabled Seat</label>-->
<!--</div>-->


<!--<div class="theatre">-->
<!--  <div class="cinemaSeats" #cinemaSeats>-->
<!--    &lt;!&ndash;      <div class="seats">&ndash;&gt;-->
<!--    &lt;!&ndash;        <div *ngFor="let column of seat_rows; index as i">&ndash;&gt;-->
<!--    &lt;!&ndash;          <div *ngFor="let row of seat_columns">&ndash;&gt;-->
<!--    &lt;!&ndash;            <div class="seat" id="active"> {{i}}  </div>&ndash;&gt;-->
<!--    &lt;!&ndash;          </div>&ndash;&gt;-->
<!--    &lt;!&ndash;        </div>&ndash;&gt;-->
<!--    &lt;!&ndash;      </div>&ndash;&gt;-->
<!--  </div>-->
<!--  <div class="cinemaScreen">Cinema Screen</div>-->
<!--</div>-->
<!--=======-->
<div class="content">
    <div>
        <h1>Welcome {{username()}}</h1>
    </div>
    <div class="ticketContainer" *ngIf="ticket && ticket.length">
        <div>
            <h3>Tickets</h3>
        </div>
        <div>
            <ul>
                <li *ngFor="let ticketItem of ticket">

                    <div><strong>Date</strong> {{toDateFromDisplayTimestamp(ticketItem.display_timestamp) | date: 'yyyy.MM.dd'}}}</div>
                    <div><strong>Time</strong> {{toDateFromDisplayTimestamp(ticketItem.display_timestamp) | date: 'HH:mm'}}</div>
                    <div><strong>Movie</strong> {{ticketItem.movie_name}}</div>
                    <div><strong>Theatre</strong> {{ticketItem.theater_name}}</div>
                    <div><strong>Seat</strong> {{ticketItem.seat_number}}</div>
                    <div><strong>price</strong> {{ticketItem.price}} €</div>

                    <div *ngIf="ticketItem.display_timestamp > (getCurrentDate() + 3600000)">
                        <button class="cancel-button" (click)="returnTicket(ticketItem)">Return</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>