<div *ngIf="ticket && ticket.length" class="content">
    <ul>
        <li *ngFor="let ticketItem of ticket">

            <div><strong>Date</strong> {{ticketItem.date_of_display}}</div>
            <div><strong>Time</strong> {{ticketItem.display_time}}</div>
            <div><strong>Movie</strong> {{ticketItem.movie_name}}</div>
            <div><strong>Theather</strong> {{ticketItem.theater_name}}</div>
            <div><strong>Seat</strong> {{ticketItem.seat_number}}</div>
            <div><strong>price</strong> {{ticketItem.price}}</div>

            <div *ngIf="ticketItem.display_timestamp < (getCurrentDate() + 3600000)">
                <button class="cancel-button" (click)="removeFromCart(ticketItem)">Remove</button>
            </div>
        </li>
    </ul>
</div>