/*.product-component {*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  flex-grow: 1;*/
/*  justify-content: center;*/
/*  margin: 50px;*/
/*}*/

.overview-component {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  margin: 50px;
}
