<div class="content">
    <h1>Admin page</h1>

    <fieldset>
        <legend>Create the show</legend>
        <div>
            <label for="movies">Movies: </label>
            <select name="Movies" id="movies">
        <option value="Movie 1">Movie 1</option>
        <option value="Movie 2">Movie 2</option>
        <option value="Movie 3">Movie 3</option>
        <option value="Movie 4">Movie 4</option>
      </select>

            <label for="showScreentype">Screentype: </label>
            <select name="screetype" id="showScreentype">
        <option value="2D">2D</option>
        <option value="2D,3D">2D,3D</option>
      </select>

            <label for="showSoundtype">Soundtype: </label>
            <select name="soundtype" id="showSoundtype">
        <option value="Mono">Mono</option>
        <option value="Dolby Surround">Dolby Surround</option>
        <option value="Dolby Surround, ATMOS">Dolby Surround, ATMOS</option>
      </select>
            <br>
            <br>
            <label for="showTheater">Choose a theatre: </label>
            <select name="Theatre" id="showTheater">
        <option value="theatre 1">theatre 1</option>
        <option value="theatre 2">theatre 2</option>
        <option value="theatre 3">theatre 3</option>
        <option value="theatre 4">theatre 4</option>
      </select>
            <br>
            <br>
            <label for="showBeginning">Show begins at: </label>
            <input type="time" id="showBeginning" name="showBeginning" min="07:00" max="22:00" required value="09:00">


            <div>
                <table class="tableShows">
                    <thead>
                        <tr>
                            <th colspan="7">Available shows</th>
                        </tr>
                        <tr>
                            <th>ID</th>
                            <th>Movie</th>
                            <th>Theater</th>
                            <th>Screen Type</th>
                            <th>Sound Type</th>
                            <th>Begin</th>
                            <th>End</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
    <div>
        <input type="button" name="Submit" id="submitShow" value="SUBMIT">
        <input type="button" name="Delete" id="deleteShow" value="DELETE ROW">
    </div>


    <br>

    <fieldset>
        <legend>Choose theatre options</legend>
        <div class="cinemaHall">
            <label for="theaterName">Theater Name: </label>
            <input type="text" required name="theaterName" id="theaterName">

            <label for="soundtype">Soundtype: </label>
            <select name="soundtype" id="soundtype">
        <option value="Mono">Mono</option>
        <option value="Dolby Surround">Dolby Surround</option>
        <option value="Dolby Surround, ATMOS">Dolby Surround, ATMOS</option>
      </select>

            <label for="screentype">Screentype: </label>
            <select name="screetype" id="screentype">
        <option value="2D">2D</option>
        <option value="2D,3D">2D,3D</option>
      </select>
            <br>
            <br>
            <div>
                <label for="rows">Rows:</label>
                <input type="number" id="rows" #rowsInput name="rows" min="5" max="15" required value="5">

                <label for="columns">Columns:</label>
                <input type="number" id="columns" #columnsInput name="columns" min="5" max="15" required value="5">

                <input (click)="onCreateClick(rowsInput.value, columnsInput.value)" type="button" id="createTheater" value="Create">
            </div>
        </div>
    </fieldset>

    <br>
    <br>
    <fieldset>
        <legend>Choose seats options</legend>
        <div>
            <input type="radio" name="setType" value="normalSeatSelector" checked="true" #normalSeatSelector id="normalSeatSelector">
            <label for="normalSeatSelector">Normal Seat</label><br>
            <input type="radio" name="setType" value="deluxeSeatSelector" #deluxeSeatSelector id="deluxeSeatSelector">
            <label for="deluxeSeatSelector">Deluxe Seat</label><br>
            <input type="radio" name="setType" value="disabledSeatSelector" #disabledSeatSelector id="disabledSeatSelector">
            <label for="disabledSeatSelector">Disabled Seat</label>
        </div>
        <div class="theatre">
            <div class="cinemaSeats" #cinemaSeats>
                <!--      <div class="seats">-->
                <!--        <div *ngFor="let column of seat_rows; index as i">-->
                <!--          <div *ngFor="let row of seat_columns">-->
                <!--            <div class="seat" id="active"> {{i}}  </div>-->
                <!--          </div>-->
                <!--        </div>-->
                <!--      </div>-->
            </div>
            <div class="cinemaScreen">Cinema Screen</div>
        </div>
        <div>
            <table class="tableShows">
                <thead>
                    <tr>
                        <th colspan="5">Available theatres</th>
                    </tr>
                    <tr>

                        <th>ID</th>
                        <th>Theatre name</th>
                        <th>Screentype</th>
                        <th>Soundtype</th>
                        <th>Seats</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>

    <div>
        <input type="button" name="Submit" id="submitTheatre" value="SUBMIT">
        <input type="button" name="Delete" id="deleteTheatre" value="DELETE ROW">
    </div>


</div>