app-admin {
    margin: 60px;
}

.content {
    color: #bbbbbb;
    padding: 50px;
}

body {
    padding: 20px;
    background: #111;
}

fieldset {
    border: #bbbbbb dashed 2px;
    border-radius: 5px;
    padding: 20px;
    height: max-content;
}

select,
#theaterName,
#rows,
#columns {
    margin-right: 20px;
    width: 150px;
}

input:invalid+span::after {
    position: absolute;
    content: "✖";
    padding-left: 5px;
}

input:valid+span::after {
    position: absolute;
    content: "✓";
    padding-left: 5px;
}

table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

th {
    font-size: 20px;
}

td,
th {
    padding: 8px;
    border: #bbbbbb solid 2px;
    text-align: center;
    height: 30px;
}

td {
    background-color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
}

#submitShow,
#submitTheatre,
#submitMovie,
#toggleButtonShow,
#toggleButtonTheatre {
    display: inline-flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #0087cb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

input,
type,
select,
textarea {
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    border: #bbbbbb solid 1px;
    color: #bbbbbb;
}

#deleteShow,
#deleteTheatre,
#deleteMovie {
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#createTheatre {
    margin-left: 20px;
    width: 60px;
    padding: 5px;
    background-color: #0087cb;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cinemaHall {
    /*margin-top: 100px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*justify-items: center;*/
    position: center;
}

.cinemaScreen {
    background-color: #0087cb;
    border-radius: 5px;
    border: #111111 solid 1px;
    height: 30px;
    width: 516px;
    text-align: center;
    margin: 20px;
    padding: 5px;
}

:host ::ng-deep .cinemaSeats div {
    position: center;
    display: flex;
    justify-content: center;
}

.cinemaSeats {
    display: block;
    justify-items: center;
}

.theatre div {
    margin: 0 auto;
    justify-items: center;
}


/* .seat:focus {
    background-color: #bbbbbb;
}

seat.active.before {
    background-color: #fff;
}

.leftSide div,
.rightSide div {
    display: flex;
    margin: 20px;
} */


/*// json for seats*/

.seat#active {
    background: green;
}


/*// json for seats*/

.seat#inactive {
    background: red;
}

:host ::ng-deep .seat {
    cursor: pointer;
    background-color: #0087cb;
    border-radius: 5px;
    border: #111111 solid 1px;
    height: 30px;
    width: 30px;
    /*vertical-align: middle;*/
    /*justify-content: center;*/
    text-align: center;
    margin: 20px;
}

:host ::ng-deep .deluxeSeat {
    cursor: pointer;
    background-color: #095542;
    /*border-radius: 5px;*/
    border: #111111 solid 1px;
    height: 35px;
    width: 35px;
    /*vertical-align: middle;*/
    /*justify-content: center;*/
    text-align: center;
    margin-top: 18px;
    margin-bottom: 17px;
    margin-left: 18px;
    margin-right: 17px;
}

:host ::ng-deep .disabledSeat {
    cursor: pointer;
    background-color: #0e00cb;
    border-radius: 15px;
    border: #111111 solid 1px;
    height: 35px;
    width: 35px;
    /*vertical-align: middle;*/
    /*justify-content: center;*/
    text-align: center;
    margin-top: 18px;
    margin-bottom: 17px;
    margin-left: 18px;
    margin-right: 17px;
}