<div class="productItem">
  <img [src]="product.image" [alt]="product.title" class="productImage">
  <h2 class="productTitle">{{ product.title}}</h2>
  <p>Price: <span class="font-bold">{{ product.price | currency: 'US'}}</span></p>

  <button
    class="border py-2 px-4 rounded bg-yellow-400"
  (click)="details = !details"
  >
    {{details ? 'Hide' : 'Show'}} Details
  </button>

  <div *ngIf="details">
    <p>{{ product.description }}</p>
    <p>Rate: {{ product.rating.rate }}</p>
  </div>
</div>
