/* You can add global styles to this file, and also import other style files */

body {
  background: url('./assets/background.jpg') no-repeat fixed center;
  background-size: cover;
  height: 100vh;
}
